<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
    </head>

    <body>
        <h1>Raaka-aineiden hallinta</h1>

        <h2>Nykyiset raaka-aineet</h2>
        <ul>
            <li th:each="raakaaine: ${raakaaineet}">
                <span th:text="${raakaaine.nimi}">raakaaine</span>
                
                <div>
                Kaytossa # smoothiessa: 
                <span th:each="lukumaara: ${lukumaarat}">
                    <span th:if="${lukumaara.id} == ${raakaaine.id}">
                        <span th:text="${lukumaara.lkm}">lkm</span>
                    </span>
                </span>
                </div>
                <form method="POST" th:action="@{~/ainekset/{RaakaAineId}/delete(RaakaAineId=${raakaaine.id})}"><input type="submit" value="Poista"/></form>
                <br></br>
            </li>
        </ul>

        <h2>Lisaa uusi raaka-aine</h2>

        <form method="POST" action="">
            Raaka-aineen nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisaa"/>
        </form>

        <h2>Muut toiminnot</h2>
        <ul>
            <li>
                <a href="smoothielista">Smoothielistaukseen</a>
            </li>
        </ul>

    </body>
</html>