<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
    </head>

    <body>
        <h1>Smoothielista</h1>

        <h2>Smoothiet lyhyesti</h2>
        <ul>
            <li th:each="annos: ${annokset}">
                <span th:text="${annos.nimi}">annos</span>
            </li>
        </ul>

        <h2>Toiminnot</h2>
        <ul>
            <li>
                <a href="smoothiet">Tarkastele ja luo uusia smoothieita</a>
            </li>
            <br></br>
            <li>
                <a href="ainekset">Tarkastele ja lisaa raaka-aineita</a>
            </li>
        </ul>
    </body>
</html>